page-vagas {

    .background {
        background-image: url('../assets/imgs/talents.jpg');
        align-content: center;
		background-repeat: no-repeat;
		background-size: cover;
    }


    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        margin-top: 12px;
        font-weight: 500;
        color: #424242;
    }

    .notification{
     font-size: 35px;
     width: 40px;
     float: right;
     color: honeydew;
    }
    
    .ion-card-title {
        background-color: rgb(72, 121, 121) !important;
        color: honeydew;
        text-align: center;
    }

    .abrirVaga{
        color: darkslategray;
        font-size:  40px;
        float: right;
        opacity: .80;

    }

    .detalheVaga{
        background-color: gainsboro !important;
    
    }

    ion-fab.btCurtir {
        bottom:  30px;
        right:   100px;
        opacity: .70;
    }

    ion-fab.btNaoCurtir {
        bottom:  30px;
        left:    100px;
        opacity: .70;
    }
    .titulo {
        background-color: rgb(72, 121, 121) !important;
        font-size: 2.3rem;
        color: honeydew;
        text-align: center;
    }
}
