page-vagas {

    .background {
        background-image: url('../assets/imgs/talents.jpg');
        align-content: center;
		background-repeat: no-repeat;
		background-size: cover;
    }

    .notification{
     font-size: 40px;
     width: 40px;
     float: right;
     color: mediumturquoise;
    }
    
    .ion-card-title {
        background-color: darkslategray !important;
        color: honeydew;
        text-align: center;
    }

    .abrirVaga{
        color: darkslategray;
        font-size:  40px;
        float: right;
        opacity: .80;

    }

    .detalheVaga{
        background-color: gainsboro !important;
    
    }

    ion-fab.btCurtir {
        bottom:  30px;
        right:   100px;
        opacity: .70;
    }

    ion-fab.btNaoCurtir {
        bottom:  30px;
        left:    100px;
        opacity: .70;
    }
}
