<ion-header>
 
  <ion-navbar class="ion-nav-bar" color="secondary">
    <ion-title>Idiomas</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="adicionar()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>
 
<ion-content padding class="background">
 
    <ion-list>
 
        <ion-item-sliding *ngFor="let idioma of idiomas">
 
            <ion-item text-wrap style="background-color:#d3d3d3">
                 <b>Idioma:</b> {{idioma.ds_idioma}}
                 <br>
                 <b>Nivel:</b> {{idioma.nr_nivel}}
            </ion-item>
            <ion-item-options style="background-color:#d3d3d3">
                <button ion-button icon-only (click)="editar(idioma)" light>
                    <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deletar(idioma)" color="danger">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
    <ion-card *ngIf="idiomas == 0">
      <ion-card-content style="background-color:#d3d3d3">Não há nenhum Idioma incluído em seu perfil.</ion-card-content>
    </ion-card>
    <button ion-button full color="secondary"(click)="salvar()"> Salvar </button>
</ion-content>