<ion-header>
 
  <ion-navbar class="ion-nav-bar" color="secondary">
    <ion-title>Seus Idiomas</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="adicionar()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>
 
<ion-content>
 
    <ion-list>
 
        <ion-item-sliding *ngFor="let idioma of idiomas">
 
            <ion-item>
                 Idioma:{{idioma.ds_idioma}}
                 <br>
                 Nivel: {{idioma.nr_nivel}}
            </ion-item>
            <ion-item-options>
                <button ion-button icon-only (click)="editar(idioma)" light>
                    <ion-icon name="paper"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deletar(idioma)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
 
        </ion-item-sliding>

    </ion-list>
    <ion-card *ngIf="idiomas.length == 0">
      <ion-card-content>Não há nenhum Idiomas incluido em seu perfil.</ion-card-content>
    </ion-card>
    <button ion-button full color="secondary"(click)="avancar()"> Avançar </button>    
</ion-content>