@import url('https://fonts.googleapis.com/css?family=Playball');

page-login {
	.background {
		background-image: url('../assets/imgs/talents.jpg');
		align-content: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.logo{
		color: #00b7d5;
		//color: rgba(19, 226, 154, 0.679);
		font-weight: 900;
		font-family: 'Playball', cursive;
		font-size:7rem;
		margin: 0;
		padding: 0;
		align-content: center;
		margin-top: 7rem;
		
	}

	.scroll-content {
		display: block;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin-bottom: 5rem;
	}

	ion-card.card {
		box-shadow: none !important;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		//margin-top: 18rem;
	}

	a, p,
	ion-card-header.card-header {
		color: #fff!important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 10px;
		background: rgba(255, 255, 255, 0.2);
		border: medium none;

		.text-input, {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
		}
	}

	.icon {
		padding-right: 18px;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}

}
