<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngFor="let profissional of profissionalLogado">
              <div class="user-avatar">
                <img src="{{profissional.b_foto}}">
              </div>
          </ion-col>
          <ion-col padding-top col-8 *ngFor="let profissional of profissionalLogado">
            <h2 ion-text class="no-margin bold text-white">
              {{profissional.ds_nome}}
            </h2>
          </ion-col>
        </ion-row>
        <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
          </ion-col>
          <ion-col no-padding class="column">
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
  </ion-header>
  <ion-content color="secondary"> 
    <ion-list class="user-list">
        <button ion-item (click)="abrirPerfil()"><ion-icon name="md-contact"> </ion-icon> Perfil </button>
        <button ion-item (click)="chamaExperiencia()"><ion-icon name="briefcase"> </ion-icon> Experiências </button>
        <button ion-item (click)="chamaCurso()"><ion-icon name="school"> </ion-icon> Cursos </button>
        <button ion-item (click)="chamaCompetencia()"><ion-icon name="md-list-box"> </ion-icon> Competências Técnicas </button>
        <button ion-item (click)="chamaIdioma()"><ion-icon name="md-bookmarks"> </ion-icon> Idiomas </button>
        <button ion-item (click)="chamaTesteComportamental()"><ion-icon name="clipboard"> </ion-icon> Teste Comportamental </button>
        <button ion-item (click)="sair()" ><ion-icon name="exit"> </ion-icon> Sair </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
