page-perfil {

  .avatar_perfil img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    width: 110px;
    height: 110px;
  }
  .icn_editar {
    font-size:  30px;
    float: right;
  }
  
}