page-notificacoes-detalhes {

    .titulo {
        background-color: rgb(72, 121, 121) !important;
        font-size: 2.3rem;
        color: honeydew;
        text-align: center;
    }

    .descricao{
        font-size: 14px;
    }

}
