page-cadastro-profissional {
    .avatar_perfil img {
      border-radius: 50%;
      overflow: hidden;
      margin-right: auto;
      margin-left: auto;
      width: 140px;
      height: 140px;
    }
    
    .tirar_foto {
        font-size: 35px;
        text-align: center;
    }
    .background {
        background-image: url('../assets/imgs/talents.jpg');
        align-content: center;
        background-repeat: no-repeat;
        background-size: cover;
    }     
}
    