<ion-header>
  <ion-navbar class="ion-nav-bar" color="secondary">
    <ion-title>Cadastro Profissional</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
  <form [formGroup]="profissionalFormulario" (ngSubmit)="salvarProfissional()">
  <!-- PRECISAR AJUSTAR LAYOUT PARA FICAR NO CENTRO E MAIOR   
      <ion-item>
          <ion-avatar class="avatar_perfil">
            <img *ngIf="imagem" [src]="imagem" alt="">
          </ion-avatar>
          <div class="tirar_foto">
                <ion-icon name="camera" (click)="tirarFoto()"></ion-icon>
              </div>
            </ion-item> 
            <p>
                <img class="avatar" *ngIf="imagem" [src]="imagem" alt="" width="100%" height="150px">
            </p>         
            <p>-->
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>Nome</ion-label>
        <ion-input formControlName="ds_nome" type="text" placeholder="Digite seu Nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="profissionalFormulario.get('ds_nome').errors && profissionalFormulario.get('ds_nome').dirty">
          <p color="danger" ion-text *ngIf="profissionalFormulario.get('ds_nome').hasError('required')">O Campo Nome é Obrigatorio.</p>
          <p color="danger" ion-text *ngIf="profissionalFormulario.get('ds_nome').hasError('pattern')">O Campo Nome informado é Inválido.</p>
        </ion-item>
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="ds_email" type="email" placeholder="Digite seu Email"></ion-input>
      </ion-item>
      <ion-item *ngIf="profissionalFormulario.get('ds_email').errors && profissionalFormulario.get('ds_email').dirty">
          <p color="danger" ion-text *ngIf="profissionalFormulario.get('ds_email').hasError('required')">O Campo Email é Obrigatorio.</p>
          <p color="danger" ion-text *ngIf="profissionalFormulario.get('ds_email').hasError('pattern')">O Campo Email informado é Inválido.</p>
        </ion-item>
      <ion-item>
        <ion-icon name="md-map" item-start (click)="openMaps()"></ion-icon>
        <ion-label stacked>Localizacação</ion-label> 
       <ion-input disabled="true" type="text" placeholder="Clique para definir sua localização." (click)="openMaps()" formControlName="nm_cidade"></ion-input>
      </ion-item>
      <ion-item *ngIf="profissionalFormulario.get('nm_cidade').errors && profissionalFormulario.get('nm_cidade').dirty">
        <p color="danger" ion-text *ngIf="profissionalFormulario.get('nm_cidade').hasError('required')">A sua Localização é Obrigatoria.</p>
      </ion-item>           
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>Data de Nascimento</ion-label>
        <ion-datetime formControlName="dt_nascimento" displayFormat="DD-MM-YYYY" placeholder="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="profissionalFormulario.get('dt_nascimento').errors && profissionalFormulario.get('dt_nascimento').dirty">
          <p color="danger" ion-text *ngIf="profissionalFormulario.get('dt_nascimento').hasError('required')">O Campo Data de Nascimento é Obrigatorio.</p>
        </ion-item>    
      <ion-item>
          <ion-icon name="lock" item-start></ion-icon>
          <ion-label stacked>Senha</ion-label>
          <ion-input formControlName="ds_senha" type="password" placeholder="Digite uma Senha"></ion-input>
        </ion-item>
        <ion-item *ngIf="profissionalFormulario.get('ds_senha').errors && profissionalFormulario.get('ds_senha').dirty">
          <p color="danger" ion-text *ngIf="profissionalFormulario.get('ds_senha').hasError('required')">O Campo Senha é Obrigatorio.</p>
          <p text-wrap color="danger" ion-text *ngIf="profissionalFormulario.get('ds_senha').hasError('pattern')">O Campo Senha não atende os requistos e necessário.</p>
          <p color="danger" ion-text>-Ter no mínimo de 8 caracteres.</p>
          <p color="danger" ion-text>-Ter no mínimo 2 letras maiúsculas: ABCDEFG.</p>
          <p color="danger" ion-text>-Ter no mínimo 1 letra minúscula: abcdefgh.</p>
          <p color="danger" ion-text>-Ter no mínimo 1 número: 123456.</p>
          <p color="danger" ion-text>-Ter no mínimo 2 símbolos: @#$%.</p>
          <p color="danger" ion-text>ex: Talents1@, T234567a#.</p> 
        </ion-item>    
        <ion-item>
          <ion-icon name="lock" item-start></ion-icon>
          <ion-label stacked>Confirmar Senha</ion-label>
          <ion-input formControlName="ds_senha_confirmacao" type="password" placeholder="Confirme sua Senha"></ion-input>
        </ion-item>
        <ion-item class='form-text error' *ngIf="profissionalFormulario.controls.ds_senha_confirmacao.touched && profissionalFormulario.hasError('mismatchedPasswords') && profissionalFormulario.controls.ds_senha.valid">
          <p color="danger" ion-text>As senhas informadas não coincidem.</p>
        </ion-item>
        <ion-item>
            <ion-icon name="md-transgender" item-start></ion-icon>
            <ion-label stacked>Gênero</ion-label>
          <ion-select formControlName="tp_sexo" placeholder= "Selecione um Gênero">
              <ion-option value="I" ng-selected="true">Não Informado</ion-option>
            <ion-option value="F">Feminino</ion-option>
            <ion-option value="M">Masculino</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="profissionalFormulario.get('tp_sexo').errors && profissionalFormulario.get('tp_sexo').dirty">
            <p color="danger" ion-text *ngIf="profissionalFormulario.get('tp_sexo').hasError('required')">O Campo Gênero é Obrigatorio</p>
          </ion-item>
          <br>
          <button ion-button color="secondary" block type="submit" [disabled]="!profissionalFormulario.valid" *ngIf="profissional.cd_profissional == null">Avançar</button>
          <button ion-button color="secondary" block type="submit" [disabled]="!profissionalFormulario.valid" *ngIf="profissional.cd_profissional != null">Salvar</button>
  </form>
</ion-content>