page-profissional {
    .background {
        background-image: url('../assets/imgs/talents.jpg');
        align-content: center;
		background-repeat: no-repeat;
		background-size: cover;
    }
    .avatar_perfil img {
        border-radius: 50%;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        width: 110px;
        height: 110px;
      }
    
  .ion-nav-bar{
    background-color:rgba(19, 226, 154, 0.679);
}
    
    .tirar_foto {
        font-size: 35px;
        text-align: center;
    }
}
    