page-profissional {
  
  .background {
		background-color: rgba(0, 0, 0, 0.1);
  }
  .ion-nav-bar{
    background-color:rgba(19, 226, 154, 0.679);
}
    .avatar_perfil img {
      border-radius: 50%;
      overflow: hidden;
      margin-right: auto;
      margin-left: auto;
      width: 140px;
      height: 140px;
    }
    
    .tirar_foto {
        font-size: 35px;
        text-align: center;
    }        
}
    