<ion-header>
  <ion-navbar class="ion-nav-bar">
    <ion-title>Cadastro Profissional</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
  <form [formGroup]="profissionalFormulario" (ngSubmit)="salvarProfissional()">
  <!-- PRECISAR AJUSTAR LAYOUT PARA FICAR NO CENTRO E MAIOR   
      <ion-item>
          <ion-avatar class="avatar_perfil">
            <img *ngIf="imagem" [src]="imagem" alt="">
          </ion-avatar>
          <div class="tirar_foto">
                <ion-icon name="camera" (click)="tirarFoto()"></ion-icon>
              </div>
            </ion-item> -->
            <p>
                <img class="avatar" *ngIf="imagem" [src]="imagem" alt="" width="100%" height="150px">
              <button color="secondary" ion-button full (click)="tirarFoto()">
                <ion-icon  name="camera"></ion-icon>
                 Tirar Foto</button>
            </p>
          
            <p>
    <ion-list>
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-label stacked>Nome:</ion-label>
        <ion-input formControlName="ds_nome" type="text" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" item-start></ion-icon>
        <ion-label stacked>Email:</ion-label>
        <ion-input formControlName="ds_email" type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="pin" item-start (click)="openMaps()"></ion-icon>
        <ion-label stacked>Localizacação:</ion-label>        
        <ion-input formControlName="nr_longitude" disabled="true" type="text" placeholder="Longitude"></ion-input>
        <ion-input formControlName="nr_latitude"  disabled="true" type="text" placeholder="Latitude"></ion-input>
      </ion-item>    
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label stacked>Data de Nascimento:</ion-label>
        <ion-datetime formControlName="dt_nascimento" displayFormat="DD-MM-YYYY" placeholder="DD-MM-YYYY"></ion-datetime>
      </ion-item>
        <ion-item>
          <ion-icon name="lock" item-start></ion-icon>
          <ion-label stacked>Senha:</ion-label>
          <ion-input formControlName="ds_senha" type="password" placeholder="Senha"></ion-input>
        </ion-item>
      <ion-row radio-group formControlName="tp_sexo">
        <ion-col>
          <ion-item>
            <ion-icon name="woman" item-start></ion-icon>
            <ion-label>Mulher</ion-label>
            <ion-radio value="F"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="man" item-start></ion-icon>
            <ion-label>Homem</ion-label>
            <ion-radio value="M"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <div padding>
      <button ion-button color="secondary" block type="submit" [disabled]="!profissionalFormulario.valid">Avançar</button>
    </div>
  </form>
</ion-content>