<ion-header>
 
    <ion-navbar class="ion-nav-bar" color="secondary">
      <ion-title>Suas Experiêncas</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="adicionar()"><ion-icon name="add"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
   
  </ion-header>
   
  <ion-content>
   
      <ion-list>
   
          <ion-item-sliding *ngFor="let cargo of cargos">
   
              <ion-item>
                 Cargo: <p>{{cargo.ds_cargo}}</p>
                  <br>
                  Empresa: <p>{{cargo.ds_empresa}}</p>
              </ion-item>
              <ion-item-options>
                  <button ion-button icon-only (click)="editar(cargo)" light>
                      <ion-icon name="paper"></ion-icon>
                  </button>
                  <button ion-button icon-only (click)="deletar(cargo)" danger>
                      <ion-icon name="trash"></ion-icon>
                  </button>
              </ion-item-options>
   
          </ion-item-sliding>
   
      </ion-list>
      <ion-card *ngIf="cargos.length == 0">
        <ion-card-content>Não há nenhum Experiênca incluida em seu perfil.</ion-card-content>
      </ion-card>    
      <button ion-button full color="secondary"(click)="avancar()"> Avançar </button>
  </ion-content>